In [205]:
import pandas as pd 
import numpy as np
import networkx as nx
import pickle
from pathlib import Path
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy.spatial.distance as spsd
import scipy.linalg as spla
import sys
import random
import math
import itertools
from sklearn import linear_model

In [217]:
data=pd.read_csv("./Data/BodyFat.csv")

In [302]:
data=pd.read_csv("/Users/app/Desktop/Madison_Course/STAT628/Module2/preprocess_data.csv")

## 1. ID=182 : Body fat = 0

In [282]:
data.loc[data['BODYFAT']==0.0]

,IDNO,BODYFAT,DENSITY,AGE,WEIGHT,HEIGHT,ADIPOSITY,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
181,182,0.0,1.1089,40,118.5,68.0,18.1,33.8,79.3,69.4,85.0,47.2,33.5,20.2,27.7,24.6,16.5

In [283]:
data.loc[data['BODYFAT']==0.0,'BODYFAT']=7.3
data.loc[data["IDNO"]==182]

,IDNO,BODYFAT,DENSITY,AGE,WEIGHT,HEIGHT,ADIPOSITY,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
181,182,7.3,1.1089,40,118.5,68.0,18.1,33.8,79.3,69.4,85.0,47.2,33.5,20.2,27.7,24.6,16.5

## 2. ID=42 : Height Typo

In [284]:
data.loc[data['HEIGHT']==29.5]

,IDNO,BODYFAT,DENSITY,AGE,WEIGHT,HEIGHT,ADIPOSITY,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
41,42,31.7,1.025,44,205.0,29.5,29.9,36.6,106.0,104.3,115.5,70.6,42.5,23.7,33.6,28.7,17.4

### We use BMI to impute this value
### BMI(kg/m^2) = Body Mass(kg) / (Body Height(m))^2

In [285]:
### 1 pound = 0.453592 kg
### 1 m = 39.3701 inches
data.loc[data['HEIGHT']==29.5]['WEIGHT']*0.453592/(data.loc[data['HEIGHT']==29.5]['ADIPOSITY'])

41    3.109912
dtype: float64

In [286]:
math.sqrt(3.109912)*39.3701

69.42894530922234

In [288]:
data.loc[data['HEIGHT']==29.5,"HEIGHT"]=69.5

# Change pound to kg, inch to meter

In [295]:
data['WEIGHT_KG']=data['WEIGHT']*0.453
data['HEIGHT_M']=data['HEIGHT']* 0.0254

In [225]:
data.to_csv("Data/adjust_bodyfat.csv")